<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ product().name }}</mat-card-title>
    <mat-card-subtitle>{{ product().price }}</mat-card-subtitle>
  </mat-card-header>
  <div class="galerey">
    <ng-template appCarousel [appCarouselOf]="product().images" let-img let-next="next" let-back="back">
      <button mat-icon-button (click)="back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <img mat-card-xl-image alt="imgCrad" [src]="img.url" class="card-img" />
      <button mat-icon-button (click)="next()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </ng-template>
  </div>
  <mat-card-content>
    {{ product().description }}
  </mat-card-content>
  <mat-card-actions>
    <button class="buy-button" mat-raised-button (click)="buyProduct()">Купить</button>
  </mat-card-actions>
</mat-card>
